@model Tinytots.English.DTO.ViewModel.AccentModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">Accent</div>
<div class="page-center">
    <div class="h2">Details</div>

    <div class="form-horizontal">       
        <div class="form-group">
            <div class="col-md-4 right">
                @Html.LabelFor(model => model.British)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.British)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 right">
                @Html.LabelFor(model => model.American)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.American)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 right">
                <label>Image</label>
            </div>
            <div class="col-md-8">
                <img class="img-responsive img-thumbnail custom-image" src="@Url.Action("ViewImage","Image",new { id = Model.ImageId })" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
               <a href="@Url.Action("Edit",new { id = Model.Id })" class="btn btn-primary back-to-list">Edit</a> <a href="@Url.Action("Index")" class="btn btn-primary back-to-list">Back to List</a>
            </div>
        </div>        
    </div>    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
