@model IEnumerable<Tinytots.English.DTO.ViewModel.ProseActivityModel>

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>Image</th>
        <th>Accent Words</th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            <img src="@Url.Action("ViewImage","Image",new { id = item.ImageId })" width="100" height="100" />
        </td>
        <td>@item.American / @item.British</td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>        
    </tr>
}
</table>
