@model Tinytots.English.DTO.ViewModel.VocabularyModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vocabulary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Word)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Word)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Synonym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Synonym)
        </dd>
        <dt>
            @Html.Display("Image")
        </dt>
        <dd>
            <img src="@Url.Action("ViewImage","Image",new { id = Model.ImageId })" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
